body {
    background-color: black;
}



.btn-growflix {

    background-color: #e50914;
    color: fffff;
    padding: 20px 35px;
    font-weight: 700;
    font-size: 25px;
}
.btn:hover {
    background-color: #e50914;
}

.banner-inicial {
    background: url(../image/banner-initial.png) no-repeat center top fixed;
    background-attachment: fixed;
    background-size: cover;
    
}


/* Accordion */

.accordion-button {
    background-color:#303030 !important;
    
    
}

.accordion {
    --bs-border-color: #303030 !important; 
}



.accordion-button::after {
    background-image: url(../image/add.svg) !important;
  }

 
 /* home */

 .bg-home {
    background: url(../image/growcast-01.png) center top/cover no-repeat ;
    min-height: 720px;
}

.row-home-growcast {
    align-items: flex-end;
    min-height: 680px;
}